---
import Layout from "@/layouts/index.astro";
import Content from "@/components/Content";
import Navigation from "@/components/Navigation";
import Header from "@/layouts/blog/detail/Header";
import MoreBlog from "@/layouts/blog/detail/MoreBlog";
import DetailFooter from "@/layouts/blog/detail/Footer";
import Footer from "@/components/Footer";
import { cn } from "@/utils";
import { getArticles } from "@/strapi/services";
import type { Article, Block } from "@/strapi/type";
import { marked } from "marked";
import "@/layouts/blog/detail/index.css";
import { sortByPublishedTime } from "@/utils/strapi";

marked.use({
  // breaks: true, // 不生效，使用正则代替
  pedantic: false,
  gfm: true,
});

export async function getStaticPaths() {
  const articleList = await getArticles(true);
  const articles = sortByPublishedTime(articleList);
  return articles.map((article) => {
    const blocks = article.attributes.blocks.map((block) => {
      if (block.__component === "shared.rich-text") {
        const html = marked.parse(block.body || "") as string;
        return {
          ...block,
          html: html?.replace(/\n/g, "<br />"), // 将\n转为换行元素
        };
      }

      if (block.__component === "shared.media") {
        const caption = block.file?.data?.attributes?.caption!;
        return {
          ...block,
          image: block.file?.data?.attributes?.url,
          caption: marked.parse(caption || ""),
        };
      }
      return block;
    });
    return {
      params: { slug: article.attributes.slug },
      props: { articles, article, blocks },
    };
  });
  // return [{ params: { slug: "orderly-network-partners-here-wallet" } }];
}

type Props = {
  articles: Article[];
  article: Article;
  blocks: Block[];
};

const { articles, article, blocks } = Astro.props;
---

<Layout
  title={`Orderly Network | ${article.attributes.title}`}
  metaDescription={article.attributes.description}
  image={article?.attributes?.cover?.data?.attributes?.formats?.small?.url}
>
  <Navigation client:visible />
  <Header article={article} />
  <Content className="flex justify-center">
    <div
      class={cn(
        "flex flex-col justify-center",
        /** 375 */
        "text-base leading-[28.8px] font-normal mt-[40px]",
        /** 768 */
        "md:w-[688px]",
        /** 1024 */
        "lg:w-[904px] lg:text-xl lg:leading-[36px] lg:mt-[80px]"
      )}
    >
      <div id="blogDetail">
        {
          blocks?.map((block) => {
            if (block.image) {
              return (
                <div class="m-[48px]">
                  <img
                    alt={block.file?.data?.attributes?.alternativeText}
                    src={block.image}
                  />
                  <div
                    class="text-center text-xs text-primary-54 mt-[12px]"
                    set:html={block.caption}
                  />
                </div>
              );
            }
            return <div class="mt-[30px]" set:html={block.html} />;
          })
        }
      </div>
      <DetailFooter client:visible />
    </div>
  </Content>

  <MoreBlog
    className={cn("mt-[80px]")}
    data={articles?.slice(0, 3)}
    client:visible
  />

  <Footer />
</Layout>
