---
import Banner from "@/components/Banner";
import "@/style/index.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  metaDescription: string;
  image?: string;
  transitions?: boolean;
}

const { title, metaDescription, image, transitions } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const thumbnailURL = new URL("thumbnail.jpg", Astro.site);
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SNRR8JX208"></script>
    <script is:inline>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag("js", new Date());
      // @ts-ignore
      gtag("config", "G-SNRR8JX208");
    </script>
    <script is:inline>
      var script = document.createElement("script");
      script.defer = true;
      script.src =
        "https://cdn.cookie3.co/scripts/analytics/0.11.4/cookie3.analytics.min.js";
      script.dataset.siteId = "1426";
      document.getElementsByTagName("head")[0].appendChild(script);
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/ArticulatCF/ArticulatCF-Bold.otf"
      as="font"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap.xml" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="description" content={metaDescription} />
    <!-- <link rel="preload" href="/index.css" as="style" /> -->

    <!-- OpenGraph Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={image || thumbnailURL} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:site_name" content="Orderly Network" />
    <meta property="og:type" content={image ? "article" : "website"} />

    <!-- Twitter Tags -->
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:image" content={image || thumbnailURL} />
    <meta name="twitter:card" content="summary_large_image" />

    <style>
      html,
      body {
        /** 去掉移动端点击显示阴影的问题 */
        -webkit-tap-highlight-color: transparent;
        overflow-x: hidden;
      }
    </style>
    {transitions && <ViewTransitions />}
  </head>
  <body>
    <Banner client:visible />
    <slot />
  </body>
</html>
<script>
  import { navigationOpen } from "@/store";

  window.onload = () => {
    if (history?.scrollRestoration) {
      // 禁止记录滚动位置
      history.scrollRestoration = "manual";
    }
  };

  function onTouchMove(event: TouchEvent) {
    event.preventDefault();
  }

  // 侦听导航菜单弹窗是否打开
  navigationOpen.subscribe((open) => {
    if (open) {
      document.addEventListener("touchmove", onTouchMove, {
        passive: false,
      });
    } else {
      document.removeEventListener("touchmove", onTouchMove);
    }

    // 使用fixed方案，打开弹窗的时候，body的宽度会变化，导致背景虚化有问题
    // if (open) {
    //   // document.body.style.position = "fixed";
    // } else {
    //   // document.body.style.position = "relative";
    // }
  });
</script>
